<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body class='bg-sky-200  text-lime-900 mx-4 md:mx-16'>
        <nav class='fixed top-0 left-0 right-0 z-10 bg-sky-100 bg-opacity-25 pb-4'>

            <div class='flex container lg:py-2 items-center justify-between mx-auto px-2'> 
   
                <a href='/' class='mt-4 text-2xl font-semibold ' > PASSWALLET </a>
            

                <div class='flex md:p-0 md:flex-row md:space-x-8 mt-4  text-lg font-medium'>
                        <a class=' bg-orange-600 text-white rounded-lg'  id='btts' href='/logout '>Log out</a>
                </div>
            </div>
        </nav>

        <div id='category-container' class='relative container'>

            <div class='absolute top-9'>
                <div>
                    <p class='text-xl font-medium'>ALL CATEGORIES</p>
                </div>

                <div class='absolute -top-3 left-80'>
                    <form action='/add-item'>
                        <input class= 'bg-white rounded-lg font-bold p-2 px-4 text-3xl md:pl-2 md:pr-2 md:text-xl' type='submit' value='+'>
                    </form>
                </div>

                <div class='absolute top-14 md:top-4 md:left-2'>
                    <form action='/search'>
                        <input type='text' class='rounded h-9 text-xl w-40 md:w-28 md:h-4 md:text-xs pl-2 bg-sky-100' name='search' placeholder='Search'>
                        <div class='absolute top-0 left-40'>
                            <input class=' text-lg md:text-xs font-light text-white bg-orange-600 p-1 rounded' type='submit' value='Search'>
                        </div>
                    </form>
                </div>

                <div class='absolute top-14 left-60 md:top-4 md:left-44'>
                    <form action='/sort'>
                        <select  class='h-9 w-20 md:h-4 md:w-14 bg-sky-100 md:text-xs rounded' name='sort'>
                            <option value='title'>Title</option>
                            <option value='username'>Username</option>
                            <option value='password'>Website</option>
                        </select>
                        <div class='absolute top-0 left-20'>
                            <input class=' text-lg font-light p-1 md:text-xs text-white bg-orange-600 md:pl-1 md:pr-1 rounded' type='submit' value='Sort'>
                        </div>
                    </form>
                </div>



                <div id='items-container' class='absolute top-24 mx-4 rounded-lg'> 
                    <div class='relative text-xl p-2 container md:text-xs md:w-56 text-right'>
                        <ul> 
                            
                            {% for item in items %}
                            <div class='pl-2 py-4 text-left h-18 w-80 md:left-2 bg-white md:p-2 md:h-8'>
                                <div class='-mt-1 font-semibold '>{{ item.title }}</div>
                                <div  class='-mt-1 pl-4 font-light'>{{ item.email }}</div>
                            </div>
                            <div class='md:-mt-9 -mt-12  mr-4 text-2xl font-bold md:text-xl md:font-semibold'>
                                <a href = '/item-details/{{ item.id }}'> . . . </a>
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </body>
</html>