<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action='/add-item'>
            <input type='submit' value='Add New Item'>
        </form>

        <div> 
            <h1>Categories</h1>
            <ul> 
                {% for item in items %}
                    <div>Title: {{ item.title }}</div>
                    <div>Username: {{ item.username }}</div>
                    <div>Password: {{ item.password }}</div>
                    <a href = '/item-details/{{ item.id }}'>Details</a>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>