<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Password Generator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./static/styles/main.css">
    </head>
    <body>
       <h1> PASSWORD GENERATOR </h1>
            <form action='/login' method='POST'>
                <input type='submit' value='Login'/>
            </form>
                
            <form action='/create-account' method='POST'>
                <input type='submit' value='Create New Account'/>
            </form>

            <form action='/logout' method='POST'>
                <input type='submit' value='Logout'>
            </form>
            
            <p> Generate Password </p>
            <form method='post' action='/'>
                <label for='user_input'>Length:</label>                
                <input type='number' placeholder='Enter number of characters'  name='user_input' required></br>
             
                <label for='uppercase_password'> Uppercase:</label>
                <label class='switch'>
                    <input type='checkbox' name='uppercase_password'>
                    <span class='slider round'></span>
                </label></br>

                <label for='lowercase_password'> Lowercase:</label>
                <label class='switch'>
                    <input type='checkbox' name='lowercase_password'>
                    <span class='slider round'></span>
                </label></br>

                <label for='digits_password'> Digits:</label>
                <label class='switch'>
                    <input type='checkbox' name='digits_password'>
                    <span class='slider round'></span>
                </label></br>

                <label for='symbols_password'> Symbols:</label>
                <label class='switch'>
                    <input type='checkbox' name='symbols_password'>
                    <span class='slider round'></span>
                </label></br>


                <button type='submit'> Generate Password </button>
            </form>


            {% if user_input %}
                <p>Your password is: {{ user_input }} </p>
            {% endif %}
      
            <div class='progress-container' id='progressContainer' onmousedown='startDrag(event)'>
                <div class='progress-bar' id='progressBar'>
                    <h1 id='count' value='0' type='number' name='user_input'> 0 </h1> 
                </div>
                <script src="{{ url_for('static', filename='script.js') }}"></script>
            </div>
           
    </body>
</html>