<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body class='bg-sky-200 text-lime-900 mx-4'>


        <nav class='fixed top-0 left-0 right-0 z-10 bg-sky-100 bg-opacity-25 pb-4'>

            <div class='flex container lg:py-2 items-center justify-between mx-auto px-2'> 
   
                <a href='/' class='mt-4 text-2xl font-semibold ' > PASSWALLET </a>
            

                <div class='flex md:p-0 md:flex-row md:space-x-8 mt-4  text-lg font-medium'>
                    <a class=' bg-orange-600 text-white rounded-lg'  id='btts' href='/logout '>Log out</a>
                </div>
            </div>
        </nav>

        <div id='category-container' class='top-36 relative container rounded-lg h-96 border border-orange-500 bg-white mx-auto md:h-56 md:mx-auto md:top-2 ' >

            <div class='md:text-sm md:ml-2  text-center'>
                <p class='mt-4 text-2xl font-bold md:text-sm md:font-semibold'> "{{ item.title }}" Details</p>
            </div>

            <div class=' top-24 left-11 font-medium absolute md:top-11 flex-col md:left-32 md:text-sm'>
                    <h2 class=''> Title </h2>
                    <h2 class=''> Username </h2>
                    <h2 class=''> Password </h2>
                    <h2 class=''> Website </h2>
                    <h2 class=''> Email </h2>
                    <h2 class=''> Category </h2>
            </div>

            <div class=' absolute flex-col top-24 left-40 md:top-12 md:left-56'>
                    <div class='mb-4'>
                        <p class='ml-2 text-md w-40 text-md md:w-32 text-center md:text-xs  bg-sky-50 font-light rounded '> {{ item.title }} </p>
                    </div>
                    <div class='mb-4'>
                
                        <p class='ml-2 text-md w-40 md:w-32 text-center md:text-xs  bg-sky-50 font-light rounded'> {{ item.username }} </p>
                    </div>
                    <div class='mb-4'>
                        <p class='ml-2 text-md w-40 md:w-32 text-center md:text-xs  bg-sky-50 font-light rounded'> {{ item.password }} </p>
                    </div>
                    <div class='mb-4'>
                        <p class='ml-2 text-md w-40 md:w-32 text-center md:text-xs  bg-sky-50 font-light rounded'> {{ item.website }} </p>
                    </div>
                    <div class='mb-4'>
                        <p class='ml-2 text-md w-40 md:w-32 text-center md:text-xs  bg-sky-50 font-light rounded'> {{ item.email }} </p>
                    </div>
                    <div class='mb-4'>
                        <p class='ml-2 text-md w-40 md:w-32 text-center md:text-xs  bg-sky-50 font-light rounded'> {{ item.category }} </p>
                    </div>
            </div>

            <div class='absolute top-72 left-24 md:left-48 md:top-40'>
                <a class=' text-lg font-light px-4 py-2 bg-orange-600 rounded   cursor-pointer md:mt-6 md:mb-4 text-white md:text-xs md:p-1 md:pr-2 md:pl-2 md:mr-4 md:ml-2' href="/items/{{ item.id }}/edit"> Edit </a>
            </div>
            <div id='del-bttn' class='absolute left-48 md:left-48 md:top-40'>
                <form action="/delete-item/{{ item.id }}" method="POST">
                    <button class=' text-md font-light px-4 py-2 bg-orange-600 rounded   cursor-pointer md:mt-6 md:mb-4 text-white md:text-xs md:p-1 md:pr-2 md:pl-2 md:mr-4 md:ml-2' type="submit" > Delete </button>
                </form>
            </div>
            
            <div class='underline top-80 left-10 text-right md:top-48 md:left-8 absolute md:text-xs'>
                <p class='text-md text-center mt-6 font-medium underline'>
                <a href="/dashboard"> BACK </a> </p>
            </div>

            
        </div>

    </body>
</html>
